.virtual_documents
.DS_Store
.ipynb_checkpoints
__pycache__
.vscode
.log
.model
.png
.pickle
/xgboost_/model/*
/xgboost_/result/*
/xgboost_/data/*
/neural_network/model/*
/neural_network/cache/*
/neural_network/log/*
/result/*
/data/*
!/data/paper_compounds.csv
!/data/PubChem_compound_text_aldrich.csv
!/data/oximesters_calcuated.csv
!/data/oximesters_fingerprint.csv
!/data/oximesters_BDE.csv
!/data/oxim_BDE_rdki_des.csv
!/data/descriptors_bde.csv
!/data/README.md
/test/*
/others/*
test.ipynb
checker.ipynb